@import 'flowbite';
@tailwind base;
@tailwind components;
@tailwind utilities;


@layer base {
  :root {
    font-family: 'Inter', sans-serif;
    font-optical-sizing: auto;
    scroll-behavior: smooth;
  }
}

.light {
  background: #fff;
  color: #000;
}
.dark {
  background: #000;
  color: #fff;
}

body {
  background: var(--main-background);
}

.my-photo {
  background-image: url('./assets/images/my_photo.jpg');
}

.work,
.about,
.projects,
.skills,
.contact {
  scroll-margin-top: 5rem;
}
