@import 'flowbite';
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    font-family: 'Inter', sans-serif;
    font-optical-sizing: auto;
    scroll-behavior: smooth;
  }
}

.light {
  background: #fff;
  color: #000;
}
.dark {
  background: #000;
  color: #fff;
}

body {
  background: var(--main-background);
}

.my-photo {
  background-image: url('./assets/images/my_photo.jpg');
}

.work,
.about,
.projects,
.skills,
.contact {
  scroll-margin-top: 5rem;
}

/* CSS لضبط الاتجاه من اليمين لليسار (RTL) */
.rtl {
  direction: rtl;
  text-align: right;
}

.rtl .space-x-8 {
  margin-left: 0; /* تحويل المسافات بين العناصر */
  margin-right: 2rem; /* ضبط المسافة الصحيحة للغة العربية */
}

.rtl .space-x-8 > * {
  margin-left: 2rem; /* ضبط المسافات بين العناصر */
  margin-right: 0;
}

.rtl .lg\:space-x-8 {
  margin-left: 0;
  margin-right: 2rem;
}

.rtl button {
  margin-left: 0; /* ضبط الزر في الاتجاه المعاكس */
  margin-right: 1rem;
}

.rtl .font-new-mono {
  font-family: 'Tajawal', sans-serif; /* يمكنك إضافة خط يدعم اللغة العربية */
}
